
.navbar-collapse{
    background-color: red;
}
.container-fluid{
    background-color:red;
}
.nav-link{
    color: white;
}

h1 h2{
    background-color:red;
    color:white;
}
.sec-noticias{
    text-align: center;

}
.imagenes-sec-noticias{
    height:280px;
    width:416px;
}
.sec-noticias-mas{
    text-align: center;
}
.imagenes-noticias-mas{
    height:200px;
    width:250px;
}
.titulo{
    background-color:red;
    color: white;
    font-weight:bold;
}
a{
    color: white;
    text-decoration:none;
}