*{
    padding:0;
    margin:0;
}

.navbar-collapse{
    background-color: red;
}
.container-fluid{
    background-color:red;
}
.nav-link{
    color: white;
}

h1{
    background-color:red;
    color:white;
}
.container{
    height:450px;
    text-align: center;
    font-weight:bold;
    font-size: large;
    text-align:center;
    
}
.tumama{
    background-color:white ;
    height:400px;
    font-weight:bold;
    padding-top:10px;
    border:solid black 2px;
    border-radius:10px;   
}

.imagencolumnna{
    padding-right:1px;
}
.imagenes-noticiasprin{
    height:202px;
    width:352px;
}