.ferrari {
    background-color: red;
    color: white
}

.mercedes {
    background-color: aquamarine;
}

.alpine {
    background-color: pink;
}

.mclaren {
    background-color: orange;
}

.alfa {
    background-color: maroon;
    color: white;
}

.aston {
    background-color: rgb(35, 150, 131);
}

.haas {
    color: red
}

.alpha {
    background-color: darkslategrey;
    color: white;
}

.williams {
    background-color: steelblue;
}

.rb {
    background-color: midnightblue;
    color: white
}
    