.contacto {
    height: 700px;
    background:url(/img/foto-contacto.jpg) no-repeat;
    background-size: cover;
}
.fondo-contacto{
    background-image:url(/img/foto-contacto.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
label{
    color:white;
    font-weight:bold;
    font-size:large;
}